* {
    margin: 0;
    padding: 0;
  }
  
body {
    width: 100%;
    height: 100%;
  }

.main-heatmap {
    max-width: 90%;
    margin: 2.5rem auto;
    display: block;
    text-align: center;
}

#tooltip {
    position: absolute;
    background: #222;
    color: #f5f5f5;
    height: 60px;
    pointer-events: none;
    padding: 5px;
  }

.axis path,
.axis line {
  fill: none;
  stroke: black;
}

g {
    margin-left: auto;
    margin-right: auto;
}