* {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
body {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ac1f7;
  }

.container {
  width: 90%;
    text-align: center;
    display: block;
}

.choropleth-map {
  background: white;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 0.05rem;
  font: 12px;
  background: white;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

