/* reset margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #708090;
}

.main-container {
  height: 560px;
  width: 900px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-self: center;
  position: relative;
  box-shadow: 1px 1px 10px;
}

#title {
  text-align: center;
  font-size: 2.5em;
}

.chart-container {
  position: absolute;
  top: 6em;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 0.05rem;
  font: 12px;
  background: lightblue;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  background: white;
  pointer-events: none;
}

.info {
  font-size: 0.8rem;
}