* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  height: 100vh;
}

.tm-cont {
  margin: 1em 1em;
  padding: 10px;
  background: #fff;
  text-align: center;
}

.tm-style {
  margin: 0.5em auto;
}

.tile-text {
  cursor: default;
}

svg {
  font: 10px sans-serif;
  text-align: center;
  margin: 0.5em;
}

#tooltip {
  position: absolute;
  padding: 10px;
  font: 12px Arial;
  background: #fff;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border-radius: 2px;
  pointer-events: none;
}
