* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.container {
  text-align: center;
}

.state {
  stroke: white;
  stroke-width: 1px;
  fill: none;
}

#tooltip {
  position: absolute;
  background: #222;
  color: #f5f5f5;
  height: 60px;
  pointer-events: none;
  padding: 1rem;
}
