.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}

#top {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

button {
  margin: 1rem;
}
