* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scatterplot {
  display: block;
  margin: auto;
  background-color: white;
}

body {
  font: 10px sans-serif;
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
}

.dot {
  stroke: black;
  opacity: 0.8;
}

#tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
